<div class="eden-stage-specials p-3 border rounded bg-dark">
    <h4>Specials</h4>
    <br>

    <h5 class="mb-3">Set 1</h5>

    <div class="row">
        <div class="col">
            <eden-input-field
                id="specials-name-1-input"
                label="Special 1 Name"
                classes="mb-3">
            </eden-input-field>
        </div>

        <div class="col">
            <eden-input-field
                id="specials-dancer-1-input"
                label="Special 1 Dancer"
                classes="mb-3">
            </eden-input-field>
        </div>
    </div>

    <h5 class="mb-3">Set 2</h5>

    <div class="row">
        <div class="col">
            <eden-input-field
                id="specials-name-2-input"
                label="Special 2 Name"
                classes="mb-3">
            </eden-input-field>
        </div>

        <div class="col">
            <eden-input-field
                id="specials-dancer-2-input"
                label="Special 2 Dancer"
                classes="mb-3">
            </eden-input-field>
        </div>
    </div>

    <h5 class="mb-3">Set 3</h5>
</div>
