<!--Nav-->
<eden-navbar></eden-navbar>
<!--Nav-->

<!--Head-->
<header>
    <div class="container-fluid text-center" style="padding-top: 10px;">
        <input type="text" class="text-center bg-dark w-25" style="border: 0px; color: white;" value="Event Date">
    </div>
</header>
<!--Head-->

<!--Main-->
<main class="container-fluid bg-dark text-center" style="color: white; padding-top: 35px;">
    <div class="row">
        <div class="col">
            <span>Left Stage</span>
            <br>
            <span style="padding-right: 10px;">Set 1</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 2</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 3</span><input class="text-center" value="Fill">
        </div>
        <div class="col">
            <span>Center Stage</span>
            <br>
            <span style="padding-right: 10px;">Set 1</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 2</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 3</span><input class="text-center" value="Fill">
        </div>
        <div class="col">
            <span>Right Stage</span>
            <br>
            <span style="padding-right: 10px;">Set 1</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 2</span><input class="text-center" value="Fill">
            <br>
            <span style="padding-right: 10px;">Set 3</span><input class="text-center" value="Fill">
        </div>
    </div>
</main>
<!--Main-->
