<div class="p-3 border rounded bg-dark">
    <h4>Staff</h4>
    <br>
    <div>
        <div class="row mb-3">
            <div class="col">
                <eden-input-field
                    id="host-input"
                    label="Host">
                </eden-input-field>
            </div>

            <div class="col">
                <eden-input-field
                    id="mc-input"
                    label="MC">
                </eden-input-field>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <eden-input-field
                    id="photographer-input"
                    label="Photographer">
                </eden-input-field>
            </div>

            <div class="col">
                <eden-input-field
                    id="dj-input"
                    label="DJ">
                </eden-input-field>
            </div>
        </div>

        <eden-input-field
            id="security-input"
            label="Security">
        </eden-input-field>
    </div>
</div>
