<div class="p-3 border rounded bg-dark">
    <h4>Float</h4>
    <br>
    <div class="row">
        <div class="col">
            <eden-input-field
                id="float-input-1"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-2"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-3"
                label="Float">
            </eden-input-field>
        </div>

        <div class="col">
            <eden-input-field
                id="float-input-4"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-5"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-6"
                label="Float">
            </eden-input-field>
        </div>

        <div class="col">
            <eden-input-field
                id="float-input-7"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-8"
                label="Float"
                classes="mb-3">
            </eden-input-field>
            <eden-input-field
                id="float-input-9"
                label="Float">
            </eden-input-field>
        </div>
    </div>
</div>
